@model ToDoApp.Models.ToDoItem

@{
    ViewBag.Title = "Index";
}

<h2>My ToDo List</h2>

<div id="tableDiv"></div>

<div id="toDoCreateForm">
    @using (Ajax.BeginForm("AJAXCreate", "ToDoList", new AjaxOptions
    {
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "POST",
        UpdateTargetId = "tableDiv"
    }))
    {
        <div>
            @Html.AntiForgeryToken()
            <div>
                @Html.Editor("Description")
                <input type="submit" value="Add" class="btn btn-default" />
            </div>
        </div>

    }
</div>

@section Scripts {
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/buildToDoTable.js"></script>
    @Scripts.Render("~/byndles/jqueryval")
}
