@model ToDoApp.Models.ToDoItem

@{
    ViewBag.Title = "My Todo List";
}

<h2>My Todo List</h2>

<div id="tableDiv"></div>

<div id="toDoCreateForm">
    @using (Ajax.BeginForm("AJAXCreate", "ToDoList", new AjaxOptions
    {
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "POST",
        UpdateTargetId = "tableDiv"
    }))
    {
        <div>
            @Html.AntiForgeryToken()
            <div>
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new {maxlength = "85"} })
                <input type="submit" value="Add" class="btn btn-default"/>
            </div>
        </div>

    }
</div>

@section Scripts {
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/buildToDoTable.js"></script>
    @Scripts.Render("~/byndles/jqueryval")
}
