@{
    ViewBag.Title = "About";
}
<h2>ToDo Application</h2>
<hr>
<p>An ASP.NET MVC application that allows you to add, track, and remove your tasks. 
    Uses individual authentication, entity framework, jQuery, Ajax.  </p>
