@{
    ViewBag.Title = "About";
}
<h2>Todo Application</h2>
<hr>
<p>
    An ASP.NET MVC application that allows you to add, track, and remove your tasks.
    It is uses Entity framework, jQuery, Ajax, individual authentication.
</p>
