@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Todo App</h1>
    <p class="lead">Life can feel overwhelming, but it doesn’t have to. This Todo App keeps track of everything  – 
        so you can get it all done and enjoy more peace of mind along the way.</p>
    <p><a href="@Url.Action("Register", "Account")" class="btn btn-primary btn-lg">Get started</a></p>
</div>