@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ToDo Application</h1>
    <p class="lead">Life can feel overwhelming, but it doesn’t have to. ToDo keeps track of everything  – 
        so you can get it all done and enjoy more peace of mind along the way.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Get started</a></p>
</div>